<main class="dashboard">
  <div class="dashboard__left">
    <div class="dashboard__left__top">
      <div class="search__bar__bashboard search___dashboard">
          <form action="/projects" method="get">
          <input name="query"
                type="text"
                class="search__bar__nav"
                params="[:query]"
                placeholder=" Find your NGO"
                data-navbar-target="input"
                >
          </form>
      </div>
      <p class="contents__dashboard"><i class="fas fa-tachometer-alt"></i> <span class="contents__dashboard__links">STATUS</span></p>
      <p class="contents__dashboard"><i class="far fa-edit"></i> <span class="contents__dashboard__links">EDIT</span></p>
      <p class="contents__dashboard"><i class="fa-solid fa-file-invoice-dollar"></i> <span class="contents__dashboard__links">PAYEMNTS</span></p>
      <p class="contents__dashboard"><i class="fas fa-sign-out-alt"></i> <span class="contents__dashboard__links">LOGOUT</span></p>
      <p class="contents__dashboard"><i class="fas fa-home"></i> <span class="contents__dashboard__links"><%= link_to "HOME", root_path %></span></p>
    </div>
    <div class="dashboard__left__bottom">
      <p class="contents__dashboard"><i class="fa-solid fa-arrow-right"></i><span class="contents__dashboard__links contents__dashboard__links__new__project"><%= link_to "NEW PROJECT", new_project_path, class: "" %></span></p>
      <p class="contents__dashboard__email"><span class="contents__dashboard__links"><%= @user.email %></span></p>
    </div>
  </div>
  <div class="dashboard__right">
    <div class=dashboard_partials>
      <%= render "shared/dashboard_status" %>
      <%# <%= render "shared/dashboard_edit" %>
      <%# <%= render "shared/dashboard_payment" %>
    </div>
  </div>
</main>
