<div class="burger__menu__contents" data-burger-target="burger">
  <i class="fa-solid fa-angles-up"  data-action="click->burger#hide"
                                    data-burger-target="arrow"
                                    ></i>
  <div class="hi__loggedin">
    <% if user_signed_in? %>
      <h5 class ="User__info__navbar"><%= current_user.email %></h5>
      <p><%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete} %></p>
    <% else %>
      <p><%= link_to "LOG IN", new_user_session_path %></p>
    <% end %>
  </div>
  <div class="contents__left">
    <p><%= link_to "EXPLORE", projects_path %></p>
    <% if user_signed_in? %>
    <% end %>
    <p><%= link_to "ADD LINKS", root_path %></p>
  </div>
  <div class="contents__right">
    <p><%= link_to "ABOUT", root_path %></p>
    <p><%= link_to "START", root_path %></p>
    <p><%= link_to "FAQ", root_path %></p>
    <p><%= link_to "TERMS", root_path %></p>
        <p><%= link_to "ADD LINKS", root_path %></p>
  </div>
</div>
