<div class="category__list">
  <div class="category_contents__left">
    <p><%= link_to "GENDER", projects_path(query: "gender"), class: "category__text" %></p>
    <p><%= link_to "HUMAN", projects_path(query: "human"), class: "category__text" %></p>
    <p><%= link_to "POVERTY", projects_path(query: "poverty"), class: "category__text" %></p>
  </div>
  <div class="category_contents__middle">
    <p><%= link_to "INNOVATION", projects_path(query: "innovation"), class: "category__text" %></p>
    <p><%= link_to "SUSTAINABLE", projects_path(query: "sustanable"), class: "category__text" %></p>
    <p><%= link_to "PEACE", projects_path(query: "peace"), class: "category__text" %></p>
  </div>
  <div class="category_contents__right">
    <p><%= link_to "WATER", projects_path(query: "Water"), class: "category__text" %></p>
    <p><%= link_to "HYGIENE", projects_path(query: "Hygine"), class: "category__text" %></p>
    <p><%= link_to "PLASTIC", projects_path(query: "Plastic"), class: "category__text" %></p>
  </div>
</div>
