<div class="dashboard__welcome
            dashboard__welcome__top"
            data-dashboard-target="welcome">
  <h4>WELCOME BACK</h4>
  <p class="dashboard__contribution__line">Hey, here is your data!</p>
      <div class="dashboard__welcome__card__total__section">
      <%# <%= image_tag 'bg-color.png', { class: "" } %>
        <% sum_of_contribution = [] %>
        <% @user.project_contributions.each do |contribution| %>
          <%# user is a company %>
          <% sum_of_contribution << contribution.amount %>
        <% end %>
        <% if @user.is_ngo %>
          <span class="dashboard__welcome__card__total__section__upper__text">You have been donated</span><span class="dashboard__welcome__card__total__section__total">$ <%= sum_of_contribution.sum %></span>
        <% else %>
          <span class="dashboard__welcome__card__total__section__upper__text">Help NGOs you like!</span>
        <% end %>
      </div>
    <div class="dashboard__welcom__detail_section__with__edit">
      <div class="dashboard__welcom__detail_section">
        <%# <% if pledge.project.user.name.photo.attached? %>
          <%# <%= cl_image_tag pledge.project.user.name.photo.key, class: "ceo__images" %>
        <%# <% else %>
          <img class="welcome__profile__image" src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80" alt="">
        <%# <% end %>
        <div class="dashboard__welcome__card__profile__section">
          <span>● <span class="dashboard__welcome__spacer">NAME</span> <span class="dashboard__welcome__and__edit__card--green
                                   dashboard__welcome__and__edit__profile
                                   dashboard__links__to__projects__profile__edit__and__contribution__show"
                                   data-action="click->dashboard#editUserInfo"><%= @user.name %></span></span>
          <span>● <span class="dashboard__welcome__spacer">EMAIL</span> <span class="dashboard__welcome__and__edit__card--green
                                    dashboard__welcome__and__edit__profile
                                    dashboard__links__to__projects__profile__edit__and__contribution__show"
                                    data-action="click->dashboard#editUserInfo"><%= @user.email %></span></span>
          <% if @user.is_ngo %>
            <span>● <span class="dashboard__welcome__spacer">TYPE</span> <span class="dashboard__welcome__and__edit__card--green dashboard__welcome__and__edit__profile">NGO</span></span>
            <% @user.projects.each do |project| %>
              <div class="dashboard__welcome__and__edit__card__profile__section__projects">
                <span>● <span class="dashboard__welcome__spacer">PROJECT</span> <span class="dashboard__welcome__and__edit__card--green dashboard__welcome__and__edit__profile"><%= link_to "#{project.name}", project_path(project.id), class: "dashboard__links__to__projects__profile__edit__and__contribution__show" %></span></span>
                <%# <span id="dashboard__projects__delete"><%= link_to "Delete", project_path(project.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{project.name}?"} %></span>
              </div>
            <% end %>
          <% else %>
            <span><span class="dashboard__welcome__spacer">Type:</span> <span class="dashboard__welcome__and__edit__card--green dashboard__welcome__and__edit__profile">COMPANY</span></span>
          <% end %>
        </div>
        <%# <span class= "dashboard__welcome__card__profile__section__edit__text" data-action="click->dashboard#editUserInfo">Edit</span> %>
      </div>
      <div class="dashboard__welcome__card__profile__edit__section" data-dashboard-target="editUserInfo">
        <%= simple_form_for(@user) do |c| %>
          <%= c.input :name %>
          <%= c.input :location %>
          <%# <%= c.input :is_ngo %>
          <%= c.submit %>
        <% end %>
      </div>
    </div>
        <%# @pledge = Pledge.find_by(project_id: @project.id) %>
</div>
