<% numbers = ["50", "100,00", "200,00", "300,00", "600,00", "1200,00", "2400,00", "5800,00", "11,600,00", "23,200,00", "46,400,00", "92,800,00", "185,600,00", "371,200,00", "742,400,00", "148,400,00", "384,00", "768,00", "1,536,00", "3,072,00", "6,144,00", "12,288,00", "24,576,00", "49,152,00", "98,304,00", "196,608,00", "393,216,00", "786,432,00", "1,572,864,00"] %>
<%# <% numbers = ["50", "100", "200", "300", "600", "1200", "2400", "5800", "11600", "23200", "46400", "92800", "185600", "371200", "742400", "148400", "384", "768", "1536", "3072", "6144", "12288", "24576", "49152", "98304", "196608", "393216", "786432", "1572864"] %>
<% faces = "https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80",
           "https://images.unsplash.com/photo-1558222218-b7b54eede3f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1551836022-deb4988cc6c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1559138741-441acdebf148?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1542449450-025fc187536e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1559418162-0d309d8d10a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1549473448-5d7196c91f48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1527181599081-e2f071bc4bca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1539988571437-6028447829bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2575&q=80",
           "https://images.unsplash.com/photo-1628256712219-4b7243a034bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1526948128573-703ee1aeb6fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1526796526187-8413ebb0ca9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1519457851-06c11d8bfadc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80",
           "https://images.unsplash.com/photo-1535468850893-d6e543fbd7f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1642790686306-010e65b14e35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1860&q=80",
           "https://images.unsplash.com/photo-1640531005390-38bd92755d6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1642792743923-3fc2adcd1b84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1415&q=80",
           "https://images.unsplash.com/photo-1642790828402-00e671e7805e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1511&q=80",
           "https://images.unsplash.com/photo-1642790470393-c649cc07098f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80",
           "https://images.unsplash.com/photo-1623184662645-73d7fcb58595?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1412&q=80",
           "https://images.unsplash.com/photo-1619895862022-09114b41f16f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1640531005376-4bd5aacd57c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1628541216979-9533d6eec4f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1648522168784-067e98df88c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1599816434832-ac339dd3bc61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80",
           "https://images.unsplash.com/photo-1631214524243-9627be92fc97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1626375480341-ea1efbc4be13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80",
           "https://images.unsplash.com/photo-1605568985653-3d8e43f4efa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80",
           "https://images.unsplash.com/photo-1640531005099-e44dde94945a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1628540484449-ef86450ce644?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1551845307-42b635fc0543?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80",
           "https://images.unsplash.com/photo-1573497019940-1c28c88b4f3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1573497490790-9053816a01d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1571935822631-26120f8d26d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=756&q=80",
           "https://images.unsplash.com/photo-1543132220-4bf3de6e10ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/flagged/photo-1553642618-de0381320ff3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1521510895919-46920266ddb3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1523297736436-356615162cc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80",
           "https://images.unsplash.com/photo-1522724560584-fe4dfa2991f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1601288496920-b6154fe3626a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1517530094915-500495b15ade?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1511623785848-021573a3a04f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1508186658093-d192cb09cf14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80",
           "https://images.unsplash.com/photo-1575739967915-f06fdc268a5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=691&q=80",
           "https://images.unsplash.com/photo-1479929165333-0adc171e37af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1509&q=80",
           "https://images.unsplash.com/photo-1526372362028-3a8667a8f35e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1522724942718-71a5cd63ce22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80",
           "https://images.unsplash.com/photo-1530809087707-ea77396c3864?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" %>
<% counter = 1 %>
<% counter_if_first = 1 %>
<% unit = "sec" %>
<% random_numbers = [4, 6] %>
<% price = 0 %>
<% total = [] %>

<div class="status__dashboard" data-action-target="status">
  <div class="status__dashboard__top">
    <h4>Your contributors</h4>
  </div>
  <div class="dashboard__contribution__section">
    <p class="dashboard__contribution__line">Here's an overview of your performance</p>
      <% if @user.is_ngo == true %>
        <div class="ceo__contribution">
          <div class="ceo__contribution__photo__and__name__and__timer">
            <div class="ceo__contribution__photo">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: "ceo__images" %>
              <% else %>
                <img class="ceo__images" src="https://images.pexels.com/photos/3643714/pexels-photo-3643714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
              <% end %>
            </div>
            <div class="ceo__contribution__name__and__timer">
              <div class="ceo__contribution__name__and__timer__top">
                <span>"replace with user.name" supported your project.</span>
              </div>
              <div class="ceo__contribution__name__and__timer__bottom">
                <% if counter == 1 %>
                  <div><span><%= counter %><%= unit %></span><span class="time__unit">ago</span></div>
                <% else %>
                  <div><span><%= counter %><%= unit %>s</span><span class="time__unit">ago</span></div>
                <% end %>
              </div>
            </div>
          </div>
          <span class="ceo_contribution_price">+ $<%= price %></span>
        </div>
      <% end %>
    <% 50.times do %>
      <% counter_if_first += 1 %>
      <% counter = counter * random_numbers.sample %>
      <% if counter >= 60 && unit == "sec" %>
        <% counter = 1 %>
        <% unit = "min" %>
      <% elsif counter >= 60 && unit == "min" %>
        <% counter = 1 %>
        <% unit = "hour" %>
        <% random_numbers = [1, 1, 1, 2] %>
      <% elsif counter >= 24 && unit == "hour" %>
        <% counter = 1 %>
        <% unit = "day" %>
      <% elsif counter >= 24 && unit == "day" %>
        <% counter = 1 %>
        <% unit = "year" %>
        <% random_numbers = [1, 1, 1, 1, 1, 1, 2] %>
      <% end %>
      <% price = numbers.sample %>
      <% total << price %>
      <div class="ceo__contribution">
        <div class="ceo__contribution__photo__and__name__and__timer">
          <div class="ceo__contribution__photo">
            <img class="ceo__images" src="<%= faces.sample %>" alt="">
          </div>
          <div class="ceo__contribution__name__and__timer">
            <div class="ceo__contribution__name__and__timer__top">
              <span><%= Faker::Name.name %> supported your project.</span>
            </div>
            <div class="ceo__contribution__name__and__timer__bottom">
              <% if counter == 1 %>
                <div><span><%= counter %><%= unit %></span><span class="time__unit">ago</span></div>
              <% else %>
                <div><span><%= counter %><%= unit %>s</span><span class="time__unit">ago</span></div>
              <% end %>
            </div>
          </div>
        </div>
        <span class="ceo_contribution_price">+ $<%= price %></span>
      </div>
    <% end %>
  </div>
</div>
