<div class="banner">
  <div class="banner__left">
    <h1>
      SUPPORT YOUR NGO IS A PLATFORM WHICH AIMS TO CONNECT COMPANIES AND NGOs THAT WORK ON A WIDE RANGE OF SOCIAL ISSUES. FIND YOUR NGOs YOU WISH TO WORK WITH.
    </h1>
    <%# <%= link_to "Learn more about our project", { anchor: "home__bottom" }, class: "explore__link__banner" %>
    <%= link_to "Learn more about our project", projects_path, class: "explore__link__banner" %>
    <p><a href="#home__video"><i class="home__banner__down__chevron fa-solid fa-angle-down"></i></a></p>
  </div>
  <div class="banner__right">
    <%= image_tag 'pexels-catherine-sheila-2409022.jpg', { class: "photo__banner" } %>
  </div>
</div>
<div class="home__mid">
  <div class="home__bottom__cards__message__line">
    <h2>What we aim</h2>
  </div>
  <p>                                               Our planet is facing a drastic change over the last century.
    <br class="wrap__home__mid__message__from__960">The speed of the transition is too quick for people and nature to adapt and,
    <br>                                            more than 1 million species are facing a serious issue of extinction.
    <br class="wrap__home__mid__message__from__960">Pollution continues to harm both our bodies and nature.
    <br>                                            We as a platform aim to provide a way to get out of this transformation
    <br class="wrap__home__mid__message__from__960">with connecting companies and NGOs which try to do good for the planet.
  </p>
</div>
<div class="home__video" id="home__video">
  <div class="video__message">
    <h2 class="home__bottom__cards__message__line">Support Your NGO's <br class="wrap__message__video">environment projects</h2>
    <p>Please find our projects which are fighting for environmental targets. <br>It is one of the most crucial issues in regard to SDGs goals.</p>
  </div>
  <div class="video">
    <%# Add this at the end of the link to loop and auto play ?autoplay=1&mute=1&loop=1&playlist=<%= video_id %>
    <iframe
            <% video_id = "Np9ChlVnNlY" %>
            src="https://www.youtube.com/embed/<%= video_id %>?autoplay=1&mute=1&loop=1&playlist=<%= video_id %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>
</div>
<div class="home__bottom" id="home__bottom">
  <div class="home__bottom__display" data-controller="card">
    <div class="info__left description__position">
        <div class="home__card__description
                    home__card__left__description
                    home__card__left__description__standard">
          <i class="fas fa-handshake"></i>
          <h5>Find you project!</h5>
          <h4>We have a wide range of projects. Let's find your favourite projects.</h4>
          <span>More detail</span>
        </div>
        <div class="home__card__description
                    home__card__left__description
                    home__card__left__description__environment">
          <i class="fas fa-leaf"></i>
          <h5>Environment matters!</h5>
          <%= link_to "", projects_path(query: "environment"), class: "home__bottom__right__card__link__description" %>
          <h4>Our environment is facing a rapid augmentation of temperature we have never seen. Let's fight together!</h4>
          <span>More detail</span>
        </div>
        <div class="home__card__description
                    home__card__left__description
                    home__card__left__description__education">
          <i class="fas fa-graduation-cap"></i>
          <h5>Education is a key factor!</h5>
          <%= link_to "", projects_path(query: "education"), class: "home__bottom__right__card__link__description" %>
          <h4>In order for us to rectify the inequality in this world, education is a terrain to be addressed.</h4>
          <span>More detail</span>
        </div>
        <div class="home__card__description
                    home__card__left__description
                    home__card__left__description__culture">
          <i class="fa-solid fa-plane"></i>
          <h5>Man of culture!</h5>
          <%= link_to "", projects_path(query: "culture"), class: "home__bottom__right__card__link__description" %>
          <h4>Support projects that address the crisis of cultural heritage inheritance.</h4>
          <span>More detail</span>
        </div>
        <div class="home__card__description
                    home__card__left__description
                    home__card__left__description__animal">
          <i class="fas fa-otter"></i>
          <h5>Help our animals!</h5>
          <%= link_to "", projects_path(query: "animal"), class: "home__bottom__right__card__link__description" %>
          <h4>We want to protect our animals and work on animal welfare. Join us on our journey.</h4>
          <span>More detail</span>
        </div>
    </div>
    <div class="home__bottom__card__list__right">
      <h2 class="home__bottom__cards__message
                 home__bottom__cards__message__line
                 home__bottom__cards__message__no__wrap">Our projects by category
      </h2>
      <div class="home__cards home__cards__environment" data-controller="card"
                                                        data-action="click->card#environment"
                                                        data-action-target="environment">
          <i class="fas fa-leaf"></i>
          <span class="home__bottom__right__cards__link
                       home__bottom__right__card__link
                       home__bottom__right__card__inner__box">Environment
          </span>
      </div>
      <div class="home__cards cards__education" data-action="click->card#education"
                                                data-action-target="education">
          <i class="fas fa-graduation-cap"></i>
          <span class="home__bottom__right__cards__link
                       home__bottom__right__card__link
                       home__bottom__right__card__inner__box">Education
          </span>
      </div>
      <div class="home__cards cards__culture" data-action="click->card#culture"
                                              data-action-target="culture">
          <i class="fa-solid fa-plane"></i>
          <span class="home__bottom__right__cards__link
                       home__bottom__right__card__link
                       home__bottom__right__card__inner__box">Culture
          </span>
      </div>
      <div class="home__cards cards__animal" data-action="click->card#animal"
                                             data-action-target="animal">
          <i class="fas fa-otter"></i>
          <span class="home__bottom__right__cards__link
                       home__bottom__right__card__link
                       home__bottom__right__card__inner__box">Animal
          </span>
      </div>
    </div>
  </div>
</div>
