<main class="fix-spacing">
  <h1 class="title__quick__design">Find your favourite project</h1>
  <div class="projects__list">
    <% @projects.each do |project|  %>
      <div class="projects__card">
        <div class="projects__card__background"> </div>
        <%# <% if project.photo.attached? %>
          <%# <%= image_tag project.photo.key, width: 250, height: 250 %>
          <%# <img src="https://images.unsplash.com/photo-1571688144157-25db897a81ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTN8OTUxNzcwOXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60" > %>
        <%# <% end %>
        <div class="projects__text">
          <%= link_to project.name, project_path(project.id), class: "card__link" %><br>
          <div class="projects__text__description"> <%= project.description %><br></div>
          by <%= project.user.name %> <br>
          <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg">
            <image href="assets/images/location.png" height="10" width="10">
          </svg>
          <%= project.location %> <br>
          <% sum = 0 %>
          <% project.contributions.each do |contribution| %>
            <% sum += contribution.amount %>
          <% end %>
          $ <%= sum %> pledged until today!
        </div>
      </div>
    <% end %>
  </div>
</main>
