<div class="fix-spacing show__title">
  <h1><%= @project.name %></h1>
  <h5></h5>
  <main>
    <div class="show__upper__side">
      <div class="photo__project">
        <%# <% if @project.photo.attached? %>
          <%# <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
        <%# <% else %>
          <img src="https://images.unsplash.com/photo-1495442358998-961b69f45703?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="show__photo">
        <%# <% end %>
      </div>
      <div class="price__section">
        <div class="price__section__details">
          <div>
            <h4>€3,190,846 (Ask TA how)</h4>
            <p>pledged of amount</p>
            <h4>38 (Ask TA how)</h4>
            <p>Contributions</p>
            <h4>Jan 25th 2021 (Ask TA how)</h4>
            <p>date started</p>
          </div>
        </div>
        <div class="price__section__bottom">
          <p><%= link_to "Support this project" %><i class="fas fa-check"></i></p>
        </div>
      </div>
    </div>

    <div class="show__lower__side">
      <div class="story">
        <h2>Story</h2>
        <%# <% if @project.photo.attached? %>
          <%# <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
        <%# <% else %>
          <img src="https://images.unsplash.com/photo-1490481920145-fc78891bbb99?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="show__photo">
        <%# <% end %>
        <h4><%= @project.paragraph_title %></h4>
        <p><%= @project.description %></p>
      </div>
      <div class="contribution__cards">
        <div class="contribution__your__amount">
          <div class="pledge__text">
          <h4>contribute with your amount</h4>
          <div class="contribution__box">
            <span>$</span>
            <input type="text" placeholder="10">
          </div>
          <p>Support our project with an amout <br>you would like to pay.</p>
          </div>
        </div>
        <div class="contibution__fixed__box">
          <div class="contibution__fixed__box__card">
            <%# <% if @project.photo.attached? %>
              <%# <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
            <%# <% else %>
              <img class="pledge__photo" src="https://images.unsplash.com/photo-1596854236500-a0b80b17154e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80" alt="">
            <%# <% end %>
            <div class="pledge__text">
              <h4>$50 or more (Ask TA how)</h4>
              <h5><%= @pledge %></h5>
              <p>There are many ways that you can help cats in France. One way is to donate to a local shelter or rescue organization.</p>
              <ul>
                <li>20x cat food (Ask TA how)</li>
              </ul>
              <p>8 contributions</p>
            </div>
            <%= link_to "", root_path, class: "show__home__bottom__right__card__link" %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
