<div class="fix-spacing show__title">
  <h1><%= @project.name %></h1>
  <h5></h5>
  <main>
    <div class="show__upper__side">
      <div class="photo__project">
        <%# <% if @project.photo.attached? %>
          <%# <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
        <%# <% else %>
          <img src="https://images.unsplash.com/photo-1527596428171-7885b82c91c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=737&q=80" alt="" class="show__photo">
        <%# <% end %>
      </div>
      <div class="price__section">
        <div class="price__section__details">
          <div>
            <% if @pledge %>
              <h4> <%= number_to_currency(@project.contributions.count * @pledge.price, precision: 0) %></h4>
              <p>pledged of amount</p>
              <h4><%= @project.contributions.count %></h4>
              <p>Contributions</p>
              <h4><%= @project.created_at.to_date %></h4>
              <p>date started</p>
            <% else %>
              <h4>$80,161</h4>
              <p>pledged of amount</p>
              <h4>1,396</h4>
              <p>Contributions</p>
              <h4>13</h4>
              <p>date started</p>
            <% end %>
          </div>
        </div>
        <div class="price__section__bottom">
          <span><%= link_to "Support this project", new_project_contribution_path(@project.id), class: "price__section__bottom__text" %> <i class="price__section__bottom__text__check fas fa-check"></i></span>
        </div>
      </div>
    </div>

    <div class="show__lower__side">
      <div class="story">
        <h2>Story</h2>
        <% if @project.photo.attached? %>
          <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1654564706005-b7828ace2cbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="show__photo">
        <% end %>
        <h4><%= @project.paragraph_title %></h4>
        <p><%= @project.description %></p>
      </div>
      <div class="contribution__cards">
        <div class="contribution__your__amount">
          <div class="pledge__text">
          <h4>contribute with your amount</h4>
          <div class="contribution__box">
            <span>$</span>
            <input type="text" placeholder="10">
          </div>
          <p>Support our project with an amout <br>you would like to pay.</p>
          </div>
        </div>
        <div class="contibution__fixed__box">
          <div class="contibution__fixed__box__card">
            <% if @project.photo.attached? %>
              <%= cl_image_tag @project.photo.key, width: 250, height: 150 %>
            <% else %>
              <img class="pledge__photo" src="https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
            <% end %>
            <div class="pledge__text">
              <% if @pledge %>
                <h4><%= number_to_currency(@pledge.price, precision: 0) %> or more</h4>
                <h5><%= @pledge.title %></h5>
                <ul>
                  <li><%= @pledge.description %></li>
                </ul>
              <% else %>
                <h4>$ 100 or more</h4>
                <h5>Add your title</h5>
                <ul>
                  <li>Add your description</li>
                </ul>
              <% end %>
              <% if @project.contributions.count == 1 %>
                <p><%= @project.contributions.count %> person contributed</p>
              <% else %>
                <p><%= @project.contributions.count %> people contributed</p>
              <% end %>
            </div>
            <%= link_to "", new_project_contribution_path(@project.id), class: "show__home__bottom__right__card__link" %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
